<button id="submission" ng-click="fitness.revealFitness()">Fitness</button>
<p ng-show="fitness.visibility" > {{fitness.miles}} miles, {{fitness.steps}} steps </p>
<progress ng-show="fitness.visibility" max="10000" value="{{fitness.steps}}"> </progress>
