<html ng-app="starCreate">
<head>
  <meta charset="UTF-8">
  <title>Brostoff Talent Agency</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <link rel="stylesheet" type="text/css"  href="index.css">
  <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="StarController as star">
  <h2> ADD A PROSPECT </h2>
  <div class="add_client"> 
    <form>
      Name: <input type="text" name="name" ng-model="form.name">
      Age: <input type="text" name="age" ng-model="form.age">
      Quote: <input type="text" name="quotes" ng-model="form.quote">
      <input type="submit" ng-click="star.createStar(form)"> 
    </form>
  </div>

  <div class="container">
    <div class = "prospective">
    <h2>PROSPECTIVE</h2>
      <div class="prospects" ng-repeat="client in star.stars">
        <h3 ng-hide="client.signed"> {{client.name}} </h3>
        <p ng-hide="client.signed">Age: {{client.age}}</p>
        <p ng-hide="client.signed">Quote: {{client.quote}}</p>
        <button ng-hide="client.signed" ng-click="client.signStar()"> Sign Now! </button> 
      </div>
    </div>

    <div class="signed">
    <h2>SIGNED</h2>
      <div class="prospects" ng-repeat="client in star.stars">
        <h3 ng-show="client.signed"> {{client.name}} </h3>
        <button ng-show="client.signed" ng-click="client.releaseStar()"> Release Now! </button> 
    <div>
  </div>
  
</body>
</html>