.container {
  margin: 5% 5% 15% 15%;
}


.prospective, .signed {
  padding: 20px;
  width: 35%;
}

.prospective {
  float: left;
  background-color: gray;
}

.signed {
  float: right;
  background-color: green;
  margin-right: 15%;
}