<html ng-app="starCreate">
<head>
  <meta charset="UTF-8">
  <title>Brostoff Talent Agency</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StarController as star">
  <div class="prospects" ng-repeat="client in star.stars">
    <h3 ng-hide="client.signed"> {{client.name}} </h3>
    <p ng-hide="client.signed">Age: {{client.age}}</p>
    <p ng-hide="client.signed">Quote: {{client.quote}}</p>
    <button ng-hide="client.signed" ng-click="star.sign(client)"> Sign Now! </button> 
  </div>

  <div class="signed">
    <div class="prospects" ng-repeat="client in star.stars">
      <h3 ng-show="client.signed"> {{client.name}} </h3>
      <button ng-show="client.signed" ng-click="star.release(client)"> Release Now! </button> 
  <div>
  
</body>
</html>