/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, button, input {
   font-family: 'Lora', serif;
}

button {
  color: white;
  font-size: 35px;
  font-family: 'Lora', serif;
  background-color: #357882 ;
  border-radius: 10px;
}

input {
  font-size: 20px ;
}

#hide{
  visibility: hidden;

}

.container {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

p {
  size: 30px;
}

.ng-binding {
  font-size: 30px;
}