<div class="welcome" ng-app="game" ng-controller="playGame as game">
<center>
  <button ng-click="game.sayHello()"> PLAY </button>

  <p></p>

  <form>
    Guess the numbers: <input type="text" name="firstname"><br>
  </form>
<center>
</div>