<div class="welcome" ng-app="game" ng-controller="playGame as game">
<center>
  <button ng-click="game.sayHello()"> PLAY </button>

  <p id ="answer">
  </p>

  <form ng-submit="game.checkAnswer(userAnswer)">
    Guess the numbers: <input type="text" ng-model="userAnswer"<br>
    <input type="submit">
  </form>
<center>
</div>