
.container {
  margin: 2% 5% 15% 15%;
  font-family: 'Georgia';
}

.prospect_add {
  text-align: center;
  margin-right: 15%;
}

.prospective, .signed, .client_search {
  padding: 20px;
  width: 30%;
}

.client_search {
  float: left;
}

.prospective {
  margin-left: 5%;
  float: left;
  background-color: #ECF1EF;
}

.signed {
  float: right;
  background-color: #76EEC6;
}

button, #white {
  color: white;
}

input[type="button"]{
  color: white;
}