<div ng-app= "example">

  <div class="container">
    <center>
    
    <div class="welcome" ng-controller="getNow as now">
      <now></now>
    </div>
    
    <div class="words" ng-controller="getWords as words">
      <words> </words> 
    </div>

    <div class="weather" ng-controller="getWeather as weather">
      <weather></weather>
    </div>

    <div class="fitness" ng-controller="getFitness as fitness">
      <fitness></fitness>
    </div>
  </center>
  </div>

</div>